body{
   height: auto;
   min-height: 100vh;
}


.card {
   width: 25rem;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* shape */
   border-radius: 15px;
   box-shadow: 0 20px 20px rgba(0,0,0,0.3), 0px 0px 50px rgba(0,0,0,0.2);
}
.button{
   margin: 10px;
}

/* Items inside an order. */
.inlay {
   background: #eee;
   width: auto;
   margin: 15px;
}
#orders-container .card{
   width: 60rem;
   box-shadow: none /*0 0 20px rgba(0,0,0,0.3)*/;
   border: solid 0.7px #98DD9B;
   padding: 20px;
   margin: 25px 40px;
}

#orders-container .card:hover {
   box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#view-an-order .card{
   width: 60rem;
   box-shadow: none /*0 0 20px rgba(0,0,0,0.3)*/;
   border: solid 0.7px #98DD9B;
   padding: 20px;
   margin: 25px 40px;
}

.view-one-container{
   display: flex;
   justify-content: center;
   align-items: center;

}
.view-one-container .card > img {
   width: inherit;
   margin: 10px 0px;
   justify-content: center;
   align-items: center;
}

#users-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

#users-container .card {
      padding: 30px 0px;
}

#users-container button{
   margin: 10px 5px;
   border-radius: 5px;
}

#products-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}

#products-container::after {
   content: "";
   flex: auto;
}

#products-container .card {
   height: 100%;
   display: flex;
   justify-content: space-between;
   border-radius: none;
   box-shadow: none;
}

#products-container .card:hover {
   height: 100%;
   display: flex;
   justify-content: space-between;
   border-radius: none;
   box-shadow: 0 20px 20px rgba(0,0,0,0.3), 0px 0px 50px rgba(0,0,0,0.2);
}

#products-container .card > img {
   width: inherit;
   margin: 10px 0px;
   justify-content: center;
   align-items: center;

}
