body{
   height: auto;
   min-height: 100vh;
}


.card {
   width: 25rem;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* shape */
   border-radius: 15px;
   box-shadow: 0 20px 20px rgba(0,0,0,0.3), 0px 0px 50px rgba(0,0,0,0.2);
}
.button{
   margin: 10px;
}

/* Items inside an order. */
.inlay {
   background: pink;
   width: auto;
   margin: 15px;
}

#users-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#users-container .card {
      width: 25rem;
      padding: 30px 0px;
}

#users-container button{
   margin: 10px 5px;
   border-radius: 5px;
}

#products-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

#products-container::after {
   content: "";
   flex: auto;

}

#products-container .card {
   width: 25rem;
   height: 100%;
   display: flex;
   justify-content: space-between;
   border-radius: none;
   box-shadow: none;
}

#products-container .card > img {
   width: inherit;
   margin: 10px 0px;
   justify-content: center;
   align-items: center;

}
