body{
   height: auto;
   min-height: 100vh;
}


.card {
   width: 50vw;
   height: auto;
   margin: 22px;
   padding: 5px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   /* shape */
   border-radius: 15px;
   box-shadow: 0 20px 20px rgba(0,0,0,0.3), 0px 0px 50px rgba(0,0,0,0.2);
}
.button{
   margin: 10px;
}

/* Items inside an order. */
.inlay {
   background: pink;
   width: auto;
   margin: 15px;
}

#users-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#users-container .card {
      width: 20vw;
      padding: 30px 0px;
}

#products-container .card {
   width: 50rem;
   
}

#products-container .card > img {
   width: 50rem;
   margin: 0px 10px;
   justify-content: center;
   align-items: center;
}
